<server description="Sample Liberty server">

  <featureManager>
    <feature>restfulWS-3.1</feature>
    <feature>jsonb-3.0</feature>
    <feature>jsonp-2.1</feature>
    <feature>mpConfig-3.1</feature>
    <feature>cdi-4.0</feature>
  </featureManager>

  <variable name="system.http.port" defaultValue="9080"/>
  <variable name="http.port" defaultValue="9081"/>
  <variable name="https.port" defaultValue="9444"/>

  <httpEndpoint httpPort="${http.port}" httpsPort="${https.port}"
      id="defaultHttpEndpoint" host="*" />

  <webApplication location="guide-cloud-azure-inventory.war" contextRoot="/"/>

</server>