<server description="Sample Liberty server">

  <featureManager>
    <platform>jakartaee-10.0</platform>
    <platform>microprofile-7.1</platform>
    <feature>restfulWS</feature>
    <feature>jsonb</feature>
    <feature>jsonp</feature>
    <feature>mpConfig</feature>
    <feature>cdi</feature>
  </featureManager>

  <variable name="system.http.port" defaultValue="9080"/>
  <variable name="http.port" defaultValue="9081"/>
  <variable name="https.port" defaultValue="9444"/>

  <httpEndpoint httpPort="${http.port}" httpsPort="${https.port}"
      id="defaultHttpEndpoint" host="*" />

  <webApplication location="guide-cloud-azure-inventory.war" contextRoot="/"/>

</server>